################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzorHostexApi/.vs/AzorHostexApi/DesignTimeBuild
/AzorHostexApi/.vs/AzorHostexApi/FileContentIndex
/AzorHostexApi/.vs/AzorHostexApi/v17
/AzorHostexApi/AzorHostexApi/bin/Debug
/AzorHostexApi/AzorHostexApi/obj
